@{
    ViewData["Title"] = "Home Page";
}


    <div id="table-truck">
        
        <partial name="_ListTrucks" model="Model" />
    </div>
<script src="~/scripts/controllers/truckController.js"></script>